
p Docker has taken our industry by storm. Hardly anyone can ignore the usefulness of containerized applications. Containers allow encapsulating part of your system configuration making it easier to distribute and manage applications at scale.

p This is a 2-day practical workshop that covers Docker functionality, use cases and deployment scenarios. It is targeted at software developers and system administrators willing to integrate containers into software delivery and maintenance processes.
