footer
    .container
        section.training
            h1 Contacts
            .contacts#contacts
                p
                    i(class="fa fa-envelope-o") &nbsp;
                    a(href="mailto:hello@devchampions.com") hello@devchampions.com
                p
                    i(class="fa fa-phone")
                    |  + 371 288 14 170 (Eng, Lat, Rus)
            .copyright
                p.center Developed and maintained with <i class="fa fa-heart"></i> and care by awesome software craftspeople.
                a(href="http://firmas.lv/profile/craftsmans-passion-sia/40103922894") DevChampions
                | &nbsp;2016-2019