footer
    .container
        section.training
            h1 Contacts
            .contacts#contacts
                p
                    i(class="fa fa-envelope-o") &nbsp;
                    a(href="mailto:hello@devchampions.com") hello@devchampions.com
                p
                    i(class="fa fa-phone")
                    |  + 371 288 14 170 (Eng, Lat, Rus)
            .copyright
                p.center Developed and maintained with <i class="fa fa-heart"></i> and care by awesome software craftspeople.
                p VAT charges may apply.
                p All training courses are subject to the 
                    a.darken(href="/cancel.html") cancellation policy.
                a(href="#") DevChampions
                | &nbsp;2016-2020