
h2 Detailed outline

h3 Day 1

ul 
	li 09:00 - 10:00 - Module 01: introduction to DevOps, infrastructure as code, immutable infrastructure, idempotence principle, delivery pipelines, GitOps
	li 10:10 - 11:00 - Module 02: managing virtual/cloud resources with IaC, tooling overview, building first infrastructure configuration pipeline with Terraform
	li 11:10 - 12:00 - Module 03: managing multi-cloud/multi-data-center resources with Terraform and Terraform modules
	li 12:00 - 13:00 - Lunch break
	li 13:00 - 14:00 - Module 04: integrating with classic server provisioning tools like Ansible
	li 14:10 - 15:00 - Module 05: dynamic inventories, network management, building complex infrastructure delivery pipelines, organizing team work
	li 15:10 - 16:00 - Module 06: managing base machine images with Packer
	li 16:10 - 17:00 - Q&A session, feedback collection

h3 Day 2

ul
	li 09:00 - 10:00 - Module 07: introduction to containers and container management
	li 10:10 - 11:00 - Module 08: building/publishing images, running containers with Docker
	li 11:10 - 12:00 - Module 09: implementing complex use cases with Docker Compose
	li 12:00 - 13:00 - Lunch break
	li 13:00 - 14:00 - Module 10: using Kubernetes to run container workloads
	li 14:10 - 15:00 - Module 11: using Helm charts and Kubernetes operators
	li 15:10 - 16:00 - Module 12: leveraging service mesh features with Linkerd
	li 16:10 - 17:00 - Q&A session, feedback collection

h3 Day 3

ul
	li 09:00 - 10:00 - Module 13: introduction to observability: logs, metrics, traces
	li 10:10 - 11:00 - Module 14: configuring Prometheus jobs and exporters, creating Grafana data sources and dashboards
	li 11:10 - 12:00 - Module 15: DevSecOps: integrating linters, security policy checkers, vulnerability scanners
	li 12:00 - 13:00 - Lunch break
	li 13:00 - 14:00 - Module 16: leveraging managed FaaS: KNative and Serverless
	li 14:10 - 15:00 - Module 17: implementing a chat bot for Slack for effective ChatOps
	li 15:10 - 16:00 - Module 18: introduction to chaos engineering
	li 16:10 - 17:00 - Q&A session, feedback collection
