
h2 Detailed outline

h3 Day 1

ul 
  li 
    strong Module 01: 
    | introduction to DevOps, infrastructure as code, immutable infrastructure, idempotence principle, delivery pipelines, GitOps
  li 
    strong Module 02: 
    | managing virtual/cloud resources with IaC, tooling overview, building first infrastructure configuration pipeline with Terraform
  li 
    strong Module 03: 
    | managing multi-cloud/multi-data-center resources with Terraform and Terraform modules
  li 
    strong Module 04: 
    | integrating with classic server provisioning tools like Ansible
  li 
    strong Module 05: 
    | dynamic inventories, network management, building complex infrastructure delivery pipelines, organizing team work
  li 
    strong Module 06: 
    | managing base machine images with Packer

h3 Day 2

ul
  li 
    strong Module 07: 
    | introduction to containers and container management
  li 
    strong Module 08: 
    | building/publishing images, running containers with Docker
  li 
    strong Module 09: 
    | implementing complex use cases with Docker Compose
  li 
    strong Module 10: 
    | using Kubernetes to run container workloads
  li 
    strong Module 11: 
    | using Helm charts and Kubernetes operators
  li 
    strong Module 12: 
    | leveraging service mesh features with Linkerd

h3 Day 3

ul
  li 
    strong Module 13: 
    | introduction to observability: logs, metrics, traces
  li 
    strong Module 14: 
    | configuring Prometheus jobs and exporters, creating Grafana data sources and dashboards
  li 
    strong Module 15: 
    | DevSecOps: integrating linters, security policy checkers, vulnerability scanners
  li 
    strong Module 16: 
    | leveraging managed FaaS: OpenFaaS, Kubeless and Serverless
  li 
    strong Module 17: 
    | implementing a chat bot for Slack for effective ChatOps
  li 
    strong Module 18: 
    | introduction to chaos engineering
