p Hiring is critical to every company’s future. Whether you’re a startup or a Fortune 500 company, you need the right people to grow your business. But attracting good developers is hard. The best developers out there aren’t always looking for a job, and if they are, they might not be considering your company as a place to grow their career. 

p In this 2-day intensive, practical, and high-energy training course, you will learn how to find, attract, interview, motivate, and retain software developers in your company. After this course, you’ll have a shared vision and clear, step-by-step instructions on how to win over the minds and hearts of the best developers.

p: strong This course is recommended to all company members involved in hiring activities: engineers, recruiters, hiring managers, executives.

h2 Coverage

ul
    li 
        strong Let’s get back to basics: What motivates developers? What makes developers productive? How developers choose companies and colleagues? When do developers consider leaving the company?
    li
        strong How to create an environment and work conditions where developers grow, flourish, and deliver outstanding results
    li
        strong How to become a company that developers aspire to work at, instead of paying huge recruiter fees and desperately and ineffectively spamming developers on LinkedIn
    li
        strong How to build efficient in-house recruiting capacity, and why outsourcing your identity to agencies or external recruiters is expensive and inefficient
    li
        strong How to understand what developers fits your company and teams best, distinguish a good developer from a bad developer, recognize leaders and growth potential, find a good balance between seniors and juniors in the team
    li
        strong How much should you pay existing and new developers? How much information should you share? How and when to make an offer? How to make sure the salary system is fair and competitive?
    li 
        strong How to conduct interviews: who should be interviewing a candidate, how many people, how many rounds, how a good interview looks like, what questions (not) to ask, why most companies fail at delivering a good Interviewing eXperience (IX) and how you can stand out from the crowd
    li
        strong How to turn every “no-hire” decision and "wasted” interviewing time into a huge advantage for your company, interviewers, and a candidate, by delivering remarkable and memorable IX
    li
        strong How to assess technical skills and why only old school companies force developers to code on paper and ask “tough questions.” Pair programming, whiteboard design, homework assignment: what works the best, for whom, and why.
    li 
        strong How to assess culture fit and soft skills without sending the candidate though give circles of interviewing and psychological testing hell
    li 
        strong How to avoid overloading yourself and your teammates with too many interviews, and make your life easier with Kanban
    li 
        strong How to make good hiring decisions and ensure that your hiring and decision-making process is not biased and you’re not building a monoculture
    li     
        strong How to grow new graduates, juniors developers and develop an effective learning and mentoring culture in your company
    li 
        strong How to write exceptional job ads, come up with creative marketing and hiring ideas, become visible, and position yourself as a top employer for developers
    li 
        strong How to visualize and measure your hiring process's efficiency, stop wasting time on unnecessary activities, and multiply hiring efficiency big time.
    li
        strong ... and much more!

p &nbsp;

p You will also learn why your job ad pushes away good, but shy candidates, why some really good developers fail to complete even the simplest coding assignment, why your colleagues are hiring people similar to them, why hiring only for hard skills can kill a team's culture and morale, why even referred candidates should be interviewed carefully, and much more!

p: strong This course is recommended to all company members involved in hiring activities: engineers, recruiters, hiring managers, executives.