
p This 5-session ⚡ workshop offers theory, insights, and practical experience on modern software delivery. We will compare iterative and sequential methods, and look into organizing value streams from inception to rapid development to frictionless operations. 

h2 Format

ul 
  li 5 online sessions
  li 1 session per day, each session is 4 hours long
  li Sessions can be either in the evening or in the morning
  li Total training duration is 20 hours 

