p In this practical 2-day workshop, you will learn how to architect and evolve clean, modular, and maintainable enterprise applications with Java 15, Spring, Hibernate and jOOQ. You’ll learn about clean architecture, enterprise architecture patterns, practices for keeping code quality under control, testing strategies and much more. 

p At the end of the course, you'll get an example of a fully working enterprise application, built using Java architecture best practices.

ul
    li Attendees will receive references to books, blogs, and videos for independent self-development

h2 Coverage

ul
    li 
        strong How to create clean and maintainable architecture with Clean Architecture principles
    li
        strong How to use modularity for better and safer refactoring
    li
        strong How to organize effective synchronous and asynchronous cross-module communication
    li
        strong How to unit test your design and avoid mocking hell
    li
        strong How to acceptance your application with BDD and outside-in TDD
    li
        strong How to design data access layer with CQRS
    li 
        strong How to avoid unnecesary layers of indirection with Vertical Slices Architecture
    li
        strong How to create slim repositories and what’s the difference from DAO
    li
        strong How to increase performance with BASE consistency and transactional outbox
    li 
        strong How and when to use Hibernate and why jOOQ sometimes is a better choice
    li 
        strong How to implement cross-cutting concerns such as transactions and logging
    li     
        strong How to create and test 3rd-party integrations with Apache Camel
    li 
        strong How to create and test web services and APIs
    li 
        strong How to programmatically enforce architecture and design constraints
    li
        strong … and much more!

p &nbsp;

p: strong The course is highly recommended for teams that work together.