p Do you want to skyrocket your career? Make your team, company, and customers awesome? Become a 
	strong well-respected architect
	| , 
	strong engineering leader
	| , 
	strong CTO?

p Then this training is for you.

p During this thought-provoking training, you will build exceptional leadership, communication and problem-solving skills. Skills that will make you 
	strong the key asset in your organisation.

h2 Highlights

ul
	li The course is designed particularly for technical people
	li The course includes battle-proven lifehacks that work in all tech organizations.
	li The course has exceptional, 97% satisfaction rate. 

h2 Not in this course

ul
	li.strike Boring theories
	li.strike Let's be Agile! mantras
	li.strike Obvious, easy-to-Google ideas

h2 Coverage

p You'll master 
	strong powerful techniques that only the best team leaders, software architects and engineering managers know:

ul
	li How to quickly become the best in the company and make your team awesome
	li How to turn every conversation into your (and your company's) benefit 
	li How to deliver happiness to your customers
	li How to build amazing relationship with your teammates and management
	li How to help your company earn more $$$
	li How to communicate like a pro
	li How to make your workplace healthy, fun and dynamic
	li How to learn things that matter and stop wasting time on things that don't
	li How to build 
		strong remarkable engineering career
	li … and much more!


p Ready to hack you career and become the most valuable asset in the company? 
	a(href=self.book) Join today!
