section#testimonials
    .container
        section.training
            header
                h1.title What do attendees say?
                h2.centered 97% rate this course 
                    strong "excellent"
        .quote
            blockquote 
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                |  Motivation boost! You made me see things from a completely different angle. Now I have much cleaner vision on how to grow professionally.
                strong — Andrey M. (Uber)

        .quote
            blockquote 
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                |  It was extremely beneficial! So much valuable advice on communication, dealing with colleagues and customers! Mindblowing! 
                strong — Kate S. (Spotify)

        .quote
            blockquote
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                |  The camp exceeded my expectations! I expected a lot of theory, unrelated to real projects. We've taken a look at the problems from a completely different perspective and I've received lots of useful information in that regard. At the end, I have a pack of enthusiasm and ideas to try to improve things around me (not just work). Thanks for your great job and being such a positive guy! 
                strong — Svetlana B. (Adform)
        
        .quote
            blockquote 
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                |  It was very productive and fun at the same time. Really liked it!
                strong — Josh B. (Spotify)

        .quote
            blockquote 
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                |  The training has exceeded my expectations. Now I have a lot of things to reconsider in my life and try out. Totally life-changing! 
                strong — Sergey P. (Optera)
        .photos
            section.photo
                img.grayscale(src="/img/trainings/eduards/muc.jpg")
                h3 Munich, Germany, 2017
            section.photo
                img.grayscale(src="/img/trainings/eduards/riga3.jpg")
                h3 Riga, Latvia, 2017                
            section.photo
                img.grayscale(src="/img/trainings/eduards/riga.jpg")
                h3 On-premises, 2017