p In this hands-on workshop you will learn how to build 
	strong modern, clean and maintainable 
	| enterprise applications using up to date Java techniques, frameworks and secret gems.

p The course is designed for Java professionals who want to expand their knowledge beyond trivial and easy-to-google concepts. You will be equipped with 
	strong effective practical solutions to real-world, coding, design and architecture challenges. 

h2 Highlights

ul
	li The course is based on real-world project code, stories and examples

	li The course is 70% hands-on coding, 20% important theory and 10% discussion

	li The course will show many modern libraries in action (Guava, Resilience4j, Caffeine, Spock etc.)

	li The course is updated to reflect Java 13 additions, but the patterns from this course are useful in older Java versions as well.

	li You will be provided with a list of books, videos, and industry experts to follow. This is exactly what you need to 
		strong build remarkable engineering career.


h2 Coverage

ul
	li Mastering advanced OO design techniques and patterns
	li Mastering patterns for writing small, testable, loosely coupled objects
	li Mastering naming and getting rid of getters &amp; setters in the code
	li Mastering tactical domain-driven design and building an expressive domain model with POJOs
	li Mastering exception handling
	li Mastering null-free coding
	li Mastering levels of abstraction
	li Mastering service layer design using commands, reactions and funnels
	li Mastering service decoupling using events and side-effects
	li Mastering simple and complex business validation
	li Mastering data, persistance, and transactions
	li Mastering fault tolerance with rate limiting, bulkheads and circuit breakers
	li … and much more!

p Ready to skyrocket your Java skills and learn many secret gems? Join in!

