section#testimonials
    .container
        section.training
            header
                h1.title What people say?
                h2.centered 97% rate this course 
                    strong "excellent"
        .quote 
            blockquote 
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                |  I wanted to know how I could improve the quality of my code and your course gave me some tools to achieve that. I liked that it was about more than writing code. You gave some tips on how to deal with management and what you can do as a developer to change that for the better and that you need to stay true to yourself. I like that the course doesn't really end's here. That there is homework and that you encourage us to stay in contact. You inspired me to become a better developer and gave me the energy to become the best that I can be.
                br
                | — 🇧🇪 Liesbeth de Keyzer
        .quote
            blockquote 
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                |  The course was absolutely above expectations. Usually courses just reuse "Clean code" book and provide some "common sense" recommendations. But not this one! More than 95% of information was top new and mind-blowing. I've got new practical tips to use in my everyday work and a completely new look on the things I do. Moreover, it inspired me for further growth as a professional and gave different directions, how to do it! Thanks, Eduard, this was the best training I ever attended!
                br
                | — 🇱🇻 Alex Kartisevs
        .quote
            blockquote 
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                |  This was the most advanced and best course I've been on! Very entertaining! I learned that I should use more functional Java and that courses can be fun. 
                br 
                | — 🇸🇪 Jahziah Wagner
        .photos
            section.photo
                img(src="/img/trainings/eduards/muc.jpg")
                h3 Munich, Germany, 2017
            section.photo
                img(src="/img/trainings/eduards/riga3.jpg")
                h3 Riga, Latvia, 2017                
            section.photo
                img(src="/img/trainings/eduards/riga2.jpg")
                h3 On-premises, 2017
            section.photo
                img(src="/img/tieto.jpg")
                h3 On-premises, 2018
            section.photo
                a(href="https://www.youtube.com/watch?v=AEtCEt44vlE")
                    img(src="https://sizovs.net/images/speaking.jpg")
                h3 Eduards speaking at the conference                            
            section.photo
                img(src="/img/clean-books.jpg")
                h3 Presents to attendees



                    
