p Do you want to skyrocket your career? Make your team, company, and customers awesome? Become a principal engineer, architect, team leader?

p: strong Then this 2-day training is for you.

p Together, we’ll work on building effective leadership, communication, and problem-solving skills. Skills that will make you the key asset in any organization.

h2 Highlights

ul
	li The course is designed mainly for software developers
	li The course includes battle-proven lifehacks that work in all tech organizations
	li The course has exceptional, 97% satisfaction rate

h2 Not in this course

ul
	li.strike Boring theories
	li.strike Let's be Agile! mantras
	li.strike Obvious, easy-to-Google ideas

h2 Coverage

p You'll master 
	strong powerful techniques that every successful senior dev, software architect or engineering leader should know:

ul
	li How to become the best in the company and make your team the best
	li How to mentor your peers, so they grow professionally
	li How to deliver software, so that customers are (finally) happy
	li How to discover and solve the most significant company issues using Lean Manufacturing secrets
	li How to communicate like a pro using simple NLP and NVC techniques
	li How to use body language to look confident under stress
	li How to turn every f*ckup into your (and your company's) benefit 		
	li How to understand and deal with difficult people
	li How to say “no” without being killed
	li How to learn things that matter and stop wasting time
	li How to boost your productivity and achieve more
	li How to build 
		strong a remarkable engineering career
	li … and much more!

h2 Course organization
p The course is a mix of practice (60%), critical theory (30%) and discussion (10%). It’s full of fun and stories from the production environment. 
p After the course, you will receive a set of books, blogs, videos for independent self-development.

p: strong Ready to hack your career and become the most valuable asset in the company? 
	a(href=self.book) Join today!
