p Do you want to professionally articulate your ideas to your team and management? Build great work relationship with your customer? Organize efficient teamwork? Understand how to motivate and inspire people? Become a pragmatic, well-respected developer, architect, team lead?

p: strong Then this training is for you.

p During this 
    strong  intensive, practical and entertaining
    |  2-day workshop you will build core leadership, communication and organizational skills that will make you highly valuable asset in any modern technology organisation.

h2 Highlights

ul
    li The course is designed specifically for engineers and delivery teams
    li The course is based on practical and battle-proven techniques that are easy to customize and apply to your environment
    li The course includes the best ideas from well-known movements such as Agile, Lean Startup, Lean Enterprise, DevOps, Management 3.0, Rework)
    li The course gives the opportunity to try many different communication tricks in action
    li The course runs in a small and diverse group with a lot of discussions, exercise and experience exchange. All your questions will be heard and addressed.
    li Attendees will receive references to books, blogs, and videos for independent self-development

h2 Coverage

p This training will cover a wide range of topics necessary to become an effective team leader, software architect or engineering manager:

ul
    li 
        strong What makes a good leader
        |  (qualities of a good leader, leadership anti-patterns, different leadership models, responsibilities of a leader)
    li 
        strong How to combine leadership, management, and technical duties
        |  (how to grow as a leader, how to find time for coding, how to balance soft and hard skills)
    li
        strong How to gain trust and influence people
        |  (how humans behave, universal needs, how to motivate people, how to influence people, how to overcome resistence and skepticism)
    li
        strong How to make winning proposals, spark, and drive technical change		
        |  (how to present ideas, how to change things for the best, how to find consensus)
    li
        strong How to make customers happy and make your team #1
        |  (how to understand what a customer needs with root cause analysis, how (not) to make promises and deliver on time, how to exceed expectations)
    li 
        strong How to negotiate and say "no" without being killed
        |  (how to deal with ever-changing priorities, how to estimate work, how to deal with tight deadlines)
    li 
        strong How to communicate effectively 
        |  (face-to-face vs. online communication, choosing the right spoken and body language, WAIT rule, nonviolent communication, commitment language)
    li 
        strong How to deal with difficult people
        |  ("tought" personalities, difficult conversations, dealing with low and average performance, conflict resolution)
    li     
        strong How to build high-performance teams 
        |  (effective work organization, delegation, retrospectives, dealing with "not my responsibility" issue, how to avoid becoming a bottleneck)
    li 
        strong How to make your workplace more healthy, fun, and dynamic 
        |  (appreciation techniques, HTC principle, measuring team's health)
    li 
        strong How to organize effective learning culture in a team 
        |  (brown bags, innovation time, squads, mentoring, code reviews, pairing)
    li
        strong How to deal with stress, anxiety, and decide in situations of high uncertainty 
        |  (emotional intelligence, the basics of NLP and mindfulness)        
    li
        strong How to build remarkable reputation and career 
    li
        strong … and much more!


p During the training, together with other participants you will create a clear value proposition for your idea, understand visible and hidden goals of your teammates, run a retrospective, ensure that tasks are completed on time, challenge opaque requirements with "5 Whys" and much more!

p: strong The course is highly recommended for teams that work together.