p Do you want to build amazing relationship with your customer and upper management? Understand how to lead and inspire people around you? Become a 
	strong well-respected architect
	| , 
	strong engineering leader
	| , 
	strong CTO?

p Then this training is for you.

p During this practical training, you will build exceptional leadership, communication and organizational skills. Skills that will make you 
	strong the key asset in your organisation.

h2 Highlights

ul
	li The course is designed for developers by a successful developer.
	li The course includes battle-proven lifehacks that work in all tech organizations.
	li The course has exceptional, 97% satisfaction rate. 

h2 Coverage

p This training covers topics that every team leader, software architect or engineering lead should master:

ul
	li How to build soft skills that boost your career, your team and your organisation
	li How to gain trust and build self-confidence
	li How to discover bottlenecks and start working on things that really matter
	li How to communicate effectively with teammates, management and customers
	li How to influence different people, find consensus, overcome resistance and skepticism
	li How to deal with pressure, overwork, and decide in situations of high uncertainty
	li How to make customers happy and help your company make more money
	li How to effecively work in a team and how to build high performance teams
	li How to make your workplace healthy, more fun and dynamic
	li How to organize effective learning and innovation culture in a team
	li How to build remarkable reputation and career
	li … and much more!


p Ready to hack you career and become the most valuable asset in the company? Join in!
