p Do you want to professionally articulate your ideas to your team and management? Build great work relationship with your customer? Organize efficient teamwork? Understand how to motivate and inspire people? Become a pragmatic, well-respected technical lead, architect, engineering manager?

p: strong Then this training is for you.

p During this 
	strong  intensive, practical and entertaining
	|  2-day workshop you will build core leadership, communication and organizational skills that will make you truly valuable asset in any modern technology organisation.

h2 Highlights

ul
	li The course is designed specifically for engineers and technical staff
	li The course is based on practical and battle-proven techniques that are easy to customize and apply to your environment
	li The course includes the best ideas from well-known movements such as Agile, Lean Startup, Lean Enterprise, DevOps, M3.0, Rework)
	li The course gives the opportunity to try many communication tricks in action
	li The course runs in a small and diverse group with a lot of discussions, exercise and experience exchange
	li Attendees will receive references to books, blogs and videos for continuous, independent self-development

h2 Coverage

p This training will cover a wide range of topics necessary to become an effective team leader, software architect or engineering manager:

ul
	li 
		strong Understand the importance of leadership and soft skills 
		|  (qualities of a leader, leadership models, adaptive leadership, how to boost confidence and gain trust, PageRank concept)
	li 
		strong How to make winning proposals, spark and drive technical change
	li 
		strong How to influence people, find consensus, overcome resistance and skepticism 
		|  (understanding human behavior, the four levels of influence)
	li 
		strong How to deal with stress and decide in situations of high uncertainty 
		|  (emotional intelligence 2.0, the basics of NLP and mindfulness)
	li 
		strong How to make customers happy 
		|  (speaking customers' language, understanding customers' needs, growing a problem-solving mindset, expectation management, making promises and delivering on time)
	li 
		strong How to communicate effectively 
		|  (how to choose communication channel, WAIT rule, face-to-face communication, body language, principles of NVC, effective follow-ups)
	li 
		strong How to build high-performance teams 
		|  (understanding personalities, effective work organization, understanding Little’s Law, fixing bottlenecks, delegation, customer-centric thinking, fighting "not my responsibility" issue, motivation techniques)
	li 
		strong How to make your workplace healthy, more fun and dynamic 
		|  (appreciation techniques, HTC principle, providing and asking for feedback, conflict resolution, measuring team health)
	li 
		strong How to organize effective learning and innovation culture in a team 
		|  (T-shape growth, technology radar, pair-learning, squads, brown bag sessions, blameless post-mortems)		
	li
		strong How to avoid becoming a bottleneck 
		|  (the bus factor, pair-leadership, effective coaching and delegation)
	li
		strong How to build remarkable reputation and career 
	li
		strong … and much more!


p During the training, together with other participants you will create a clear value proposition for your idea, understand visible and hidden goals of your teammates, run a retrospective, ensure that tasks are completed on time, challenge opaque requirements with "5 Whys" and much more!

p: strong The course is highly recommended for teams that work together.
