
h2 Detailed outline

h3 Day 1

p Introduction to AWS
p Introduction to CloudFormation and CDK: infrastructure-as-code, language basics, project organization
p Networking primitives: virtual private clouds (VPC), subnets, gateways, security groups, load balancers
p Compute primitives: Lambda vs EC2 vs ECS vs EKS vs Fargate vs Lightsail
p Introduction to Docker and Kubernetes

h3 Day 2

p Talking to the outside world: CloudFront, S3, API Gateway, Route53, ALB
p Integrated monitoring: CloudWatch, alerts, metrics, insights
p Data storage management: S3, EFS, RDS, DynamoDB
p Events and streams: SQS, SNS, Kineses, SES

h3 Day 3

p Security: KMS, SSM, S3/EBS encryption, CloudTrail
p IAM: users, roles, policies, profiles
p Deployment services: CodeDeploy, CodeStar, CodeBuild, SSM

h3 Day 4: battle day

p We take a use case (that is close to what attendees do in their workplace) and implement it with the help of AWS. We split the group into 2-3 teams. 
p Depending on the use case complexity each team can fully implement it or we can split it into several chunks with each team will be working on their own part and integrate in the end of the day.  
