
p 
	strong Amazon Web Services (AWS)
	|  is the world's leading provider of reliable, scalable, and inexpensive cloud computing services. The goal of this intensive, practical 2-day training is to familiarise you with the core AWS services and equip you with enough knowledge so you can choose, create, configure and maintain AWS infrastructure for your own projects.

p 
	| Want to gain deep understanding of AWS? Learn how to operate production-grade AWS infrastructure? Discover hidden tips and tricks from a certified AWS expert?
	
p: strong Then this course is for you.
