p 
	a(href='https://twitter.com/' + self.trainer.twitter) #{self.trainer.name}
	|  is a distinguished software architect and software development trainer who helps awesome teams around the globe excel at software architecture, engineering practices and soft skills. Eduards has trained hunders of senior developers, architects and engineering leaders Worldwide.

p Eduards leads 
	a(href="http://latcraft.lv") Latvian Software Craftsmanship Community 
	| – the fastest-growing software development community in Latvia, organizes 
	a(href="https://devternity.com") DevTernity 
	| – the top tech conference in Europe, and is the founder of a tech startup 
	a(href="https://dev.tube") DevTube.


p He is an award-winning international speaker, who had spoken at the largest conferences Worldwide.

.quote 
	hr
	blockquote For years I've been working extremely hard to dig through neverending amounts of information, hype, patterns, practices, case studies and try it all in a real-world environment. Now, my job is to pass the most valuable learnings to you in a live, dynamic and interactive form.
	img.signature(src="/img/eduardsi_signature.png" alt="Eduards' Signature")