p 
	img(src="/img/eddie.jpg" alt="Eduards Sizovs")
p 
	a(href='https://twitter.com/' + self.trainer.twitter) #{self.trainer.name}
	|  is a distinguished software architect and software development trainer who helps awesome teams around the globe excel at software architecture, engineering practices and soft skills. Eduards is an Oracle Certified Master and Java Enterprise Architect (OCMEA), Certified Scrum Master, Certified Product Owner, Certified Project Management Professional (PMP), and an ICF certified coach. Eduards holds two degrees in Computer Science (programming and software architecture) and international MBA degree (IT process organization, leadership, management).
	strong  Eduards is an author of upcoming Java Architecture and Software Mentoring books.

p Eduards leads  
	a(href="https://devternity.com") DevTernity 
	| – the top tech conference in Europe, and is the founder of a tech startup 
	a(href="https://dev.tube") DevTube
	|  (#1 Hackernews, #3 ProductHunt).


p He is an award-winning international speaker, who had spoken at the largest software conferences.

.quote 
	hr
	blockquote For years I've been working extremely hard to distill neverending amount of information, hype, patterns, practices, and case studies. I tried them all in a real-world environment. Today, my goal is to pass the most valuable lessons to you in a practical, entertaining, and simple way.
	img.signature(src="/img/eduardsi_signature.png" alt="Eduards' Signature")
