p 
	a(href='https://twitter.com/' + self.trainer.twitter) #{self.trainer.name}
	|  is an experienced infrastructure architect with background in large-scale cloud infrastructure design and administration, network administration, information security and cryptography. Juris is a 
	strong Certified Amazon Solutions Architect
	|  with a plenty of hands-on experience.

p 
	| For years, Juri has been leading a DevOps team that runs infrastructure for 
	a(href="https://ask.fm") Ask.fm
	|  – world's biggest Q&amp;A network with millions of active users. 

p While working as a consultant, Juri has helped many small and large companies to move to AWS and significantly reduce infrastructure complexity and expenses.

p Currently, Juris works as a SysOps Manager in an international startup incubator and sharing his knowledge by running AWS workshops all over the world.