p Are you a Java Developer wanting to learn Kotlin or get your team up to speed with Kotlin language and ecosystem to begin using it in your projects? 

p: b Then this course is for you. 

p During this intensive, practical, 2-day hands-on workshop you will learn fundamentals of Kotlin – the fast growing and the most loved JVM language.


p: strong This course is recommended to Java development teams that work together.

h2 Coverage

ul
    li 
        strong Kotlin: history, current state, future roadmap, ecosystem, integration with Java
    li
        strong Kotlin: how to introduce it to the company without big risk, how to get teammates up to speed with Kotlin, how to keep up with the language
    li
        strong Kotlin basics: syntax, idioms, language constructs, types, flow control, pattern matching, standard library
    li
        strong Kotlin OOP: classes, objects, interfaces, inheritance, sealing, data classes, delegates, extensions, aliases
    li
        strong Kotlin functional programming: higher-order functions, lambdas, named arguments, destructuring and pattern matching
    li
        strong Kotlin annotations, reflection, and generics
    li 
        strong Kotlin error handling: exceptions, null safety, type checks and casts
    li
        strong Kotlin collections: types, streams, transformations, ranges, sequences
    li
        strong Kotlin concurrency: asynchronous programming, coroutines, channels, and immutability
    li 
        strong Kotlin DSLs: type-safe builders, function literals with a receiver
    li
        strong How to automatically analyze and control code quality with Detekt and Klint
    li
        strong How to create micro services and web backends with Ktor
    li
        strong How to perform dependency injection with Koin
    li
        strong How to write unit tests and mocks with Spek and Mockk
    li
        strong How to access relational databases with Exposed and SQLDelight
    li
        strong How to integrate Kotlin with existing enterprise applications that use Spring and JPA
    li
        strong ... and much more!
p &nbsp;

p: strong This course is recommended to Java development teams that work together.